**/.idea
**/.vscode
**/node_modules
**/dist
**/.nyc_output
**/coverage
/.scannerwork/
**/test-report.xml
**/Catalog/elastic/filesGoods/*
### macOS stuff
**/.DS_Store
**/.AppleDouble
**/.LSOverride
test.report.xml
**/storage/
.DS_Store
._.DS_Store
**/._.DS_Store

local.run/envs/*.env
local.run/logs

/db/
/.run/*.xml
/monolit/

!/.run/


scripts/migrateDataToColdStorage/.env.*
scripts/migrateDataToVcd
